{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %} - SMS CheckIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->
    {% bootstrap_css %}
    <link href="{% static 'sms_checkin/css/base.css' %}" rel="stylesheet">

    {% block page_css %}{% endblock %}
  </head>

  <body>

    <div class="container">
      <!-- matching affinity.works styles, but FYI these probably should be inside the page content -->
      <p class="notice"></p>
      <p class="alert"></p>


      <div class="page-header">
      <div class="row">
        <div class="col-10">
          <h2>
            <a href="/" class="affinity-logo"><img src="{% static 'sms_checkin/images/affinity-logo.svg' %}" width="300"></a>
            <small> Affinity </small>
          </h2>
        </div>

        <div class="col-2 text-right">
          <div class="dropdown">
            {% if request.user.is_authenticated %}
            <a class="btn btn-secondary dropdown-toggle" href="/" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'sms_checkin/images/jane_doe.jpg' %}">
              <span>
              {% if request.user.first_name or request.user.last_name%}
                  {{ request.user.first_name }} {{ request.user.last_name }}
              {%else %}
                {{ request.user.username }}
              {%endif%}
              </span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="/admin/logout">Logout</a>
            </div>
            {% else %}
            <a class="btn btn-secondary" href="/admin">
              <span> Log In  </span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <br>
      </div>

      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      {% block nav %}{% endblock %}

      {% block content %}{% endblock content %}

    </div> <!-- /container -->

<!--     <footer class="sticky">
      <div class="container">
        <p class="text-muted">&copy; Affinity Works 2017</p>
      </div>
    </footer> -->

    <!-- JavaScript -->
    {% bootstrap_javascript jquery=1 %}

    {% block page_js %}{% endblock %}

  </body>

</html>