{% extends "events/events_base.html" %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
  <div class="list-group-item">
    <div class="col-xs-12 col-md-8">
      <a href="{{event.get_absolute_url}}">{{ event.name }}</a> {%if event.location%}</a>at {{event.location}}{%endif%} {% if event.host_name %} hosted by {{event.host_name}}{%endif%}
    </div>

    <div class="col-xs-6 col-md-2">
      <span class="label label-info">&check;</span> {{ event.participant_set.count }} RSVPs
    </div>
    
    {% if request.user.is_authenticated%}
    <div class="col-xs-6 col-md-2">
      <span class="label label-info">&bigstar;</span> {{ event.ratings.rating__avg|floatformat| default:'?' }} Rating
    </div>
    {%endif%}
  </div>

    <div class="container">
      {% if request.user.is_authenticated %}
        <div class="list-group">
          {% for attendance in event.attendance_set.all %}
            <div class="list-group-item">
              <div class="col-md-8 col-8">
                <div class="row">{{attendance.participant.name}}</div>
                <div class="row"><small>{{attendance.participant.email}}, {{attendance.participant.phone}}</small></div>
              </div>
              <div class="col-xs-4 col-md-3 col-lg-2">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-{%if attendance.confirmed == True%}success{%else%}secondary{%endif%}">Y</button>
                  <button type="button" class="btn btn-{%if attendance.confirmed == None%}warning{%else%}secondary{%endif%}">?</button>
                  <button type="button" class="btn btn-{%if attendance.confirmed == False%}danger{%else%}secondary{%endif%}">N</button>
                </div>
              </div>
              <div class="col-xs-4 col-md-1">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary {%if attendance.rating%}active{%endif%}">{{attendance.rating | default:'?' }}</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
      <div class="row">
        <div class="col-6">
          <div class="jumbotron">
            <div class="jumbotron-contents">
              <h1>{{ event.confirmed.count | default:0 }}</h1>
              <h2>Confirmed</h2>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="jumbotron">
            <div class="jumbotron-contents">
              <h1>{{ event.ratings.rating__avg|floatformat | default:'?' }}</h1>
              <h2>Rating</h2>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}