{% extends "base.html" %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">

      <div class="page-header">
        <h1>Event Attendance</h1>
      </div>

      <div class="row">
        <div class="col-xs-9">{{ event.name }} {%if event.location%}at {{event.location}}{%endif%} {% if event.host_name %} hosted by {{event.host_name}}{%endif%}</div>

        <div class="col-xs-3"><span class="label label-info">&check;</span> {{ event.rsvps.count }} RSVPs</div>
      </div>

      <table class="table table-striped pushdown-20">
        <thead>
          <tr>
            <th>Name</th>
            <th>Attending</th>
          </tr>
        </thead>
        <tbody>
          {% for participant in event.participant_set.all %}
            <tr>
              <td>{{participant.name}}<br>
              {{participant.email}}, {{participant.phone}}
              </td>
              <td>
                <div class="btn-group btn-toggle btn-nohover">
                  <button type="button" class="btn btn-default {%if participant.confirmed == True%} active{%endif%}">Y</button>
                  <button type="button" class="btn btn-default {%if participant.confirmed == None%} active{%endif%}">?</button>
                  <button type="button" class="btn btn-default {%if participant.confirmed == False%} active{%endif%}">N</button>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}