{% extends "events/events_base.html" %}

{% block title %}Event Attendance{% endblock title %}

{% block content %}
  <div class="list-group">

      {% if not object_list %}
        <p><strong>No upcoming events.</strong>
      {% endif %}

      <div class="list-group-item">
      {% for event in object_list %}
        <div class="col-8"><a href="{{ event.get_absolute_url }}">{{ event.name }}</a> {%if event.location%}at {{event.location}}{%endif%} {% if event.host_name %} hosted by {{event.host_name}}{%endif%}
        <br> {{ event.starts_at }} - {{ event.ends_at }} ({{ event.time_zone }})</div>
        <div class="col-2"><span class="label label-info">&check;</span> {{ event.attendance_set.count }} RSVPs</div>
        <div class="col-2"><a href="{{ event.get_absolute_url }}" class="btn btn-primary">View RSVPs</a></div>
        </tr>
      {% endfor %}
    </div>
  </div>
{% endblock %}